doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Quiz sugli animali domestici
  body
    h1 Benvenuto al Quiz sugli animali domestici
    p
      a(href="/quiz") Inserisci i tuoi dati per il quiz
    p
      a(href="/summary") Visualizza il riepilogo dei quiz
